{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}


{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui,

   elles, hériteront probablement du layout. Je dis « probablement » car,

   ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}


<h3>Formulaire d'annonce</h3>


{# On laisse vide la vue pour l'instant, on la comblera plus tard

   lorsqu'on saura afficher un formulaire. #}

<div class="well">

  Ici se trouvera le formulaire.

</div>